<%- include('../partials/header'); %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>View our hand-picked campgrounds from all over the world!</p>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="searchInput">Search Campgrounds</label>
            <input type="text" class="form-control" id="searchInput"
              placeholder="Start Typing...">
          </div>
        </div>
      </div>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
      </p>
    </div>
  </header>

  <div class="row">
    <% campgrounds.forEach((campground) => { %>
    <div class="col-lg-3 col-md-6">
      <div class="card mb-4">
        <img src="<%= campground.img %>" class="card-img-top" />
        <div class="card-body text-center">
          <h4 class="card-title"> <%= campground.name %> </h4>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Show Full Info</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

</div>

<script src="/js/search.js"></script>

<%- include('../partials/footer'); %>